In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

22/03/02 17:31:06 WARN Utils: Your hostname, BOLD-2018144 resolves to a loopback address: 127.0.1.1; using 172.29.7.81 instead (on interface eth0)
22/03/02 17:31:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/loliveira/data-engineering-zoomcamp-by-LO/week_5_batch_processing/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/02 17:31:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/02 17:31:09 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/02 17:31:09 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/03/02 17:31:09 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/03/02 17:31:09 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [3]:
spark.version

'3.0.3'

In [6]:
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-02.csv

--2022-02-25 23:32:51--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-02.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.216.248.100
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.216.248.100|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 733822658 (700M) [text/csv]
Saving to: ‘fhvhv_tripdata_2021-02.csv’

fhvhv_tripdata_2021 100%[===================>] 699.83M  2.37MB/s    in 5m 23s

2022-02-25 23:38:14 (2.17 MB/s) - ‘fhvhv_tripdata_2021-02.csv’ saved [733822658/733822658]

In [4]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-02.csv')

In [5]:
df.schema

StructType(List(StructField(hvfhs_license_num,StringType,true),StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,StringType,true),StructField(dropoff_datetime,StringType,true),StructField(PULocationID,StringType,true),StructField(DOLocationID,StringType,true),StructField(SR_Flag,StringType,true)))

In [9]:
!head -n 1001 fhvhv_tripdata_2021-02.csv > head_HW.csv

In [11]:
import pandas as pd
df_pandas=pd.read_csv('head_HW.csv')

In [12]:
df_pandas.head()

,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag
0,HV0003,B02764,2021-02-01 00:10:40,2021-02-01 00:21:09,35,39,NaN
1,HV0003,B02764,2021-02-01 00:27:23,2021-02-01 00:44:01,39,35,NaN
2,HV0005,B02510,2021-02-01 00:28:38,2021-02-01 00:38:27,39,91,NaN
3,HV0005,B02510,2021-02-01 00:43:37,2021-02-01 01:23:20,91,228,NaN
4,HV0003,B02872,2021-02-01 00:08:42,2021-02-01 00:17:57,126,250,NaN

In [14]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

In [6]:
from pyspark.sql import types
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [7]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-02.csv')

In [8]:
df.schema

StructType(List(StructField(hvfhs_license_num,StringType,true),StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,TimestampType,true),StructField(dropoff_datetime,TimestampType,true),StructField(PULocationID,IntegerType,true),StructField(DOLocationID,IntegerType,true),StructField(SR_Flag,StringType,true)))

In [9]:
df = df.repartition(24)

In [10]:
df.write.parquet('fhvhv/2021/02/')

22/02/28 22:47:57 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/02/28 22:48:01 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/02/28 22:48:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [15]:
!ls -lh fhvhv/2021/02

total 206M
-rw-r--r-- 1 loliveira loliveira    0 Feb 28 22:48 _SUCCESS
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00000-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00001-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00002-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00003-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00004-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00005-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00006-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00007-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00008-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00009-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00010-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00011-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00012-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00013-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00014-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00015-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00016-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00017-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00018-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00019-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00020-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00021-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00022-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet
-rw-r--r-- 1 loliveira loliveira 8.6M Feb 28 22:48 part-00023-6ae67bf8-5b18-4a0a-8ebf-566a16cd360e-c000.snappy.parquet

In [26]:
df=spark.read.parquet('fhvhv/2021/02/')

In [4]:
df

DataFrame[hvfhs_license_num: string, dispatching_base_num: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int, SR_Flag: string]

In [5]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [6]:
from pyspark.sql import functions as F

In [7]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .select('hvfhs_license_num', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID').show()

+-----------------+-----------+------------+------------+------------+
|hvfhs_license_num|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-----------------+-----------+------------+------------+------------+
|           HV0005| 2021-02-04|  2021-02-04|          81|          81|
|           HV0003| 2021-02-03|  2021-02-03|          29|         154|
|           HV0003| 2021-02-03|  2021-02-03|         203|         203|
|           HV0005| 2021-02-02|  2021-02-02|          91|         179|
|           HV0003| 2021-02-03|  2021-02-03|         126|         116|
|           HV0003| 2021-02-04|  2021-02-04|          56|           9|
|           HV0003| 2021-02-04|  2021-02-04|          81|          53|
|           HV0003| 2021-02-04|  2021-02-04|          18|         168|
|           HV0005| 2021-02-04|  2021-02-04|         136|         116|
|           HV0005| 2021-02-04|  2021-02-04|           7|         159|
|           HV0003| 2021-02-04|  2021-02-04|         122|         101|
|           HV0003| 2021-02-03|  2021-02-03|         198|         157|
|           HV0005| 2021-02-04|  2021-02-04|          61|          76|
|           HV0005| 2021-02-04|  2021-02-04|         181|          54|
|           HV0005| 2021-02-04|  2021-02-04|          26|         155|
|           HV0003| 2021-02-03|  2021-02-03|         137|         137|
|           HV0003| 2021-02-04|  2021-02-04|         262|         164|
|           HV0003| 2021-02-02|  2021-02-02|         147|         213|
|           HV0003| 2021-02-03|  2021-02-03|          22|         108|
|           HV0003| 2021-02-02|  2021-02-02|         196|          62|
+-----------------+-----------+------------+------------+------------+
only showing top 20 rows

In [24]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2021-02-04 06:56:20|2021-02-04 06:58:25|          81|          81|   null|
|           HV0003|              B02876|2021-02-03 20:04:21|2021-02-03 20:19:09|          29|         154|   null|
|           HV0003|              B02880|2021-02-03 07:21:31|2021-02-03 07:29:04|         203|         203|   null|
|           HV0005|              B02510|2021-02-02 11:30:49|2021-02-02 12:11:16|          91|         179|   null|
|           HV0003|              B02879|2021-02-03 18:54:27|2021-02-03 19:18:29|         126|         116|   null|
|           HV0003|              B02875|2021-02-04 17:57:59|2021-02-04 18:17:56|          56|           9|   null|
|           HV0003|              B02682|2021-02-04 07:04:00|2021-02-04 07:21:02|          81|          53|   null|
|           HV0003|              B02877|2021-02-04 21:20:52|2021-02-04 21:37:36|          18|         168|   null|
|           HV0005|              B02510|2021-02-04 15:05:15|2021-02-04 15:29:45|         136|         116|   null|
|           HV0005|              B02510|2021-02-04 10:37:02|2021-02-04 11:13:15|           7|         159|   null|
|           HV0003|              B02878|2021-02-04 09:40:25|2021-02-04 09:56:00|         122|         101|   null|
|           HV0003|              B02764|2021-02-03 06:40:44|2021-02-03 06:47:45|         198|         157|   null|
|           HV0005|              B02510|2021-02-04 19:10:59|2021-02-04 19:38:05|          61|          76|   null|
|           HV0005|              B02510|2021-02-04 14:16:56|2021-02-04 14:33:34|         181|          54|   null|
|           HV0005|              B02510|2021-02-04 15:58:43|2021-02-04 16:28:39|          26|         155|   null|
|           HV0003|              B02764|2021-02-03 06:48:06|2021-02-03 06:54:36|         137|         137|   null|
|           HV0003|              B02765|2021-02-04 16:26:49|2021-02-04 16:56:06|         262|         164|   null|
|           HV0003|              B02872|2021-02-02 18:30:42|2021-02-02 18:40:50|         147|         213|   null|
|           HV0003|              B02869|2021-02-03 14:29:13|2021-02-03 14:43:23|          22|         108|   null|
|           HV0003|              B02869|2021-02-02 10:04:16|2021-02-02 10:27:12|         196|          62|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [27]:
df.registerTempTable('fhvhv_tripdata_2021_02_2')

In [31]:
spark.sql("""
SELECT unix_timestamp(dropoff_datetime, 'yyyy-MM-dd HH:mm:ss') - unix_timestamp(pickup_datetime, 'yyyy-MM-dd HH:mm:ss') as duration_for_each_trip
,PULocationID
,DOLocationID
,pickup_datetime
FROM fhvhv_tripdata_2021_02
ORDER BY duration_for_each_trip DESC
""").show()

+----------------------+------------+------------+-------------------+
|duration_for_each_trip|PULocationID|DOLocationID|    pickup_datetime|
+----------------------+------------+------------+-------------------+
|                 75540|         247|          41|2021-02-11 13:40:44|
|                 57221|         242|         254|2021-02-17 15:54:53|
|                 44039|         188|          55|2021-02-20 12:08:15|
|                 40653|          51|         147|2021-02-03 20:24:25|
|                 37577|         210|         149|2021-02-19 23:17:44|
|                 35010|         174|         126|2021-02-25 17:13:35|
|                 34806|         242|          31|2021-02-20 01:36:13|
|                 34612|         196|         197|2021-02-18 15:24:19|
|                 34555|          89|         265|2021-02-18 01:31:20|
|                 34169|         254|         259|2021-02-10 20:51:39|
|                 32476|          61|         265|2021-02-10 01:56:17|
|                 32439|         169|         265|2021-02-25 09:18:18|
|                 32223|          10|          10|2021-02-21 19:59:13|
|                 32087|          78|         147|2021-02-09 18:36:13|
|                 31447|         229|         188|2021-02-06 09:48:09|
|                 30913|          85|          85|2021-02-02 09:42:30|
|                 30856|          29|         125|2021-02-10 10:12:08|
|                 30732|         188|         265|2021-02-09 13:30:13|
|                 30660|         177|          73|2021-02-21 22:50:52|
|                 30511|          97|          72|2021-02-05 21:32:33|
+----------------------+------------+------------+-------------------+
only showing top 20 rows

In [32]:
spark.sql("""
SELECT dispatching_base_num, count(*) AS C
FROM fhvhv_tripdata_2021_02
GROUP BY dispatching_base_num
ORDER BY C DESC
LIMIT 1
""").show()

+--------------------+-------+
|dispatching_base_num|      C|
+--------------------+-------+
|              B02510|3233664|
+--------------------+-------+

In [33]:
zones=spark.read.parquet('zones/')

In [36]:
zones.show()

+----------+-------------+--------------------+------------+
|locationid|      borough|                zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [35]:
zones.registerTempTable('zones_view')

In [40]:
spark.sql("""
SELECT zvd.zone as drop, zvp.zone as pick, count(*) AS C
FROM fhvhv_tripdata_2021_02 f
INNER JOIN zones_view zvp
ON zvp.locationid=f.PULocationID
INNER JOIN zones_view zvd
ON zvd.locationid=f.DOLocationID
GROUP BY zvd.zone, zvp.zone
ORDER BY C DESC
LIMIT 1
""").show()

+-------------+-------------+-----+
|         drop|         pick|    C|
+-------------+-------------+-----+
|East New York|East New York|45041|
+-------------+-------------+-----+